<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> Sistema de Apis</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" th:href="@{/apis}">Apis</a></li>
            </ul>
        </div>
    </div>
</nav>

<main>
    <div class="container px-4 py-5">
        <h1 class="pb-2 border-bottom">Lista de Apis</h1>
        <table class="table mt-4">
            <thead>
            <tr>
                <th>#</th>
                <th>nombre_api</th>
                <th>version</th>
                <th>estado</th>
                <th>equipo_responsable</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="apis, info : ${listaapis}">
                <td th:text="${info.index + 1}"></td>
                <td th:text="${apis.nombre}"></td>
                <td th:text="${apis.version}"></td>
                <td th:text="${apis.fecha_registro}"></td>
                <td th:text="${apis.estado}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>